@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-url: url(./assets/bg-white.jpg);
  --bg-color: rgb(246, 246, 246);
  --white-black: black;
  --black-white: white;
  --line-color: rgb(193, 193, 193);
  --text-color: rgb(58, 58, 58);
  --text-color10: rgb(77, 77, 77);
  --color-green: #359679;
  --color-green-hover: #23775e;
  --white-black-hover: rgb(240, 240, 240);

  --scroll-color: #e7e7e7;
  --scroll-color-hover: #d8d8d8;
}

.dark-mode {
  --bg-url: url(./assets/bg-dark.jpg);
  --bg-color: rgb(40, 40, 40);
  --white-black: white;
  --black-white: black;
  --line-color: rgb(103, 103, 103);
  --text-color: rgb(225, 225, 225);
  --text-color10: rgb(222, 222, 222);
  --white-black-hover: rgb(35, 35, 35);

  --scroll-color: #444;
  --scroll-color-hover: #666;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;

  background: var(--bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 610px;
  padding: 20px;
  border-radius: 10px;
  background: var(--bg-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--line-color);

  position: relative;
}

header h1 {
  color: var(--text-color);
  font-weight: 500;
  text-align: center;
}

header button {
  position: absolute;
  right: 30px;
  top: 15px;

  font-size: 1.2rem;
  color: var(--white-black);
  background: none;
  border: none;

  transition: 0.3s ease;
}

header button:hover {
  transform: rotate(20deg) scale(1.1);
}

header button:active {
  transform: rotate(20deg) scale(1);
}

button {
  cursor: pointer;
}

.pesquisa {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 15px 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--line-color);
}

.pesquisa input {
  width: 78%;
  padding: 10px;
  color: var(--white-black);
  background: none;
  border: 1px solid var(--line-color);
  border-radius: 4px;
}

.pesquisa input:focus {
  border: 1px solid var(--white-black);
  outline: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.477);
}

.pesquisa button {
  color: white;
  background: var(--color-green);
  padding: 0px 20px;
  border: none;
  border-radius: 4px;

  transition: 0.3s;
}

.pesquisa button:hover {
  background: var(--color-green-hover);
}

.pre-lista {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--line-color);
}

.filtro button {
  font-size: 0.9rem;
  padding: 5px 15px;
  color: var(--text-color10);
  background: none;
  border: none;
  border-radius: 5px;


  transition: 0.3s ease;
}

.btn-filtro:hover {
  background: var(--white-black-hover);
}

.area-pend {
  display: flex;
  align-items: center;
  color: var(--text-color10);
  font-size: 0.8rem;
  gap: 3px;
}

.area-pend span {
  color: var(--white-black);
}

.lista {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--line-color);
}

.tarefas {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 6px;
  max-height: 310px;
  overflow-y: auto;
  padding-right: 6px;
}

.tarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: var(--white-black);
  border: 1px solid var(--line-color);
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.tarefa-box {
  display: flex;
  gap: 15px;
}

.tarefa {
  white-space: nowrap;
  max-width: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tarefas::-webkit-scrollbar {
  width: 8px;
}

.tarefas::-webkit-scrollbar-track {
  background: transparent;
}

.tarefas::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 4px;
  cursor: pointer;
}

.tarefas::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-color-hover);
}

.utilidades {
  display: flex;
  gap: 15px;
}

li input {
  width: 25px;
  height: 25px;
  accent-color: var(--color-green);
  cursor: pointer;

  background-color: black;
}

li button {
  display: flex;
  font-size: 1.4rem;
  color: var(--text-color10);
  background: none;
  border: none;
}

footer {
  display: flex;
  justify-content: space-between;
}

.mobile {
  display: none;
}

footer button {
  font-weight: 600;
  color: var(--text-color10);
  padding: 5px 10px;
  background: none;
  border: 1px solid var(--line-color);
  border-radius: 4px;
  transition: 0.3s ease;
}

footer button:hover {
  color: rgb(255, 255, 255);
  background: rgb(198, 86, 86);
}

.filtro button.marcada {
  color: var(--black-white);
  background: var(--color-green);

  transition: 0.5s;
}

.concluida {
  text-decoration: line-through rgba(226, 9, 9, 0.54);
}

@media (max-width: 650px) {
  body {
    background: white;
  }

  .container {
    min-height: 100vh;
    min-width: 100%;

    border-radius: 0px;
  }

  header {
    margin-top: 10px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header button {
    top: 8px;
    right: 0px;
  }

  .pesquisa input {
    width: 70%;
  }

  .pesquisa button {
    font-size: 0.8rem;
    padding: 0px 10px;
  }

  .filtro {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .desk {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
